body {
  font-family: Arial, sans-serif;
  background-color: #f4f0f0;
  text-align: center;
  padding-top: 50px;
}

.game-container {
   background-color: rgb(220, 202, 99);
  padding: 30px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

#message {
  font-weight: bold;
  margin-top: 10px;
}
